.github/workflows/
.venv/
.vscode/
app/data/
app/dataset/
app/models/pretrained_model/
app/scripts/
app/src/utils/
app/src/gui/
app/tests/
app/trains/
app/web/pages/
app/web/backend/node_modules/
app/web/backend/package-lock.json
app/web/backend/package.json
app/web/js/command.js
project_structure.txt
app/main0.py
node_modules/
package-lock.json
package.json
